
body {
	margin: none;
	background: url('../images/sky.jpeg') no-repeat center center fixed;
/* the follow is the code to have the image display as a full page */
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

nav {
	 font-family: 'Roboto Slab', serif;
	 font-size: 25px;
	 width: 30%;
	 padding: 15px;
	 margin: 0 auto 20px auto;
	 background-color: #0080FF;
	 border-radius: 10px;

}

.bio {
      width: 30%;
      padding: 15px;
      font-family: 'Roboto Slab', serif;
      color: #FFF;
      margin: 0 auto;
      border-radius: 10px;
	 background-color: #0080FF;
   }

#subtext {
          font-size: 20px;
          font-family: 'Roboto Slab', serif;
          font-style:italic;
}

a {
	text-decoration: none;
	color: #FFF;
}

#twitter {
	      padding: 15px;
	      margin: 0 auto;
}

img {
	color: #000;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

