

html {
	background: url('../images/patsy_profile.jpg') no-repeat center center fixed;
/* the follow is the code to have the image display as a full page */
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body {
	   margin: none;
}


nav {
	 background-color: #173B0B;
	 float: right;
	 font-family: 'Roboto Slab', serif;
	 color: #000;
}

.bio {
      width: 30%;
      background-color:  #173B0B;
      float: right;
      padding: 15px;
      font-family: 'Roboto Slab', serif;
   }

a {
	text-decoration: none;
}